@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono&family=Roboto:wght@700&display=swap');
@import url("react-loading-skeleton/dist/skeleton.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Set background color and font. */
    html, body {
        background-color: #0e1423;
        font-family: 'Inter', "-apple-system", "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    }

    /* Style scrollbar. */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #0e1423;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background: #322ea2;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #524ece;
    }

    /* Set title font */
    .title-font {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }

    /* Set gradient. */
    .title-highlighted {
        background-image: linear-gradient(90deg,#fb60d7,#eb69dc 15%,#dc5cff 30%,#c555fe 45%,#a02fff 60%,#7752ff 75%,#5f98fa 90%,#44beff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-size: 200%;
        min-height: 1.5em;
        animation: gradient 6s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0;
        }
        50% {
            background-position: 100%;
        }
        100% {
            background-position: 0;
        }
    }
}

@layer components {
    /* Set loading animation. */
    .loader {
        border-right-color: transparent;
        animation: loader-rotate 1s linear infinite;
    }

    @keyframes loader-rotate {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}